p {
    font-family: Comic Sans MS;
}
h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
blockquote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
